* {
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.center-children {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */

  font-family: "Courier New", Courier, monospace;
}

#user-profile {
  display: flex;

  flex-direction: column;

  max-width: 30%;
  margin: 0 auto;

  text-align: center;

  margin-bottom: 20px;
}

#user-profile p {
  margin-bottom: 0;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #3a4e48;
  color: white;
  font-size: larger;

  cursor: pointer;
}

button:hover {
  background-color: #8b9d83;
}

button:disabled {
  background-color: gray;
  cursor: default;
}
