<script>
  import "./assets/main.css";
  import { onMount } from "svelte";

  import { initAuth0, login, logout } from "./auth0";
  import MainApp from "./lib/MainApp.svelte";

  let isAuthenticated;

  onMount(async () => {
    isAuthenticated = await initAuth0();
  });

</script>

<div class="flex gap-2 p-4">
  <button on:click={login} disabled={isAuthenticated}>Login</button>
  <button on:click={logout} disabled={!isAuthenticated}>Logout</button>
</div>

{#if isAuthenticated}
  <MainApp />
{/if}
