@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
}

button {
  @apply inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
  @apply text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500;
}

button:disabled {
  @apply text-white bg-gray-500;
}
