doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document

    link(rel="stylesheet" href="style.css")
  body
    div#app

    script(src="script.js") 