<script>
  import { auth0 } from "../auth0";

  import { onMount } from "svelte";

  import { current_state } from "../router";

  import ProcessEditor from "./components/ProcessEditor.svelte";
  import ProcessList from "./components/ProcessList.svelte";

  let accessToken;
  onMount(async () => {

    accessToken = await auth0.getTokenSilently();

    console.log(accessToken)
  })

</script>

{#if $current_state == "show"}

  <!-- <pre class="break-words whitespace-pre-wrap max-w-full overflow-hidden m-4">{accessToken}</pre> -->
  <ProcessList />
{:else if $current_state == "create"}
  <button class="m-4" on:click={() => ($current_state = "show")}>Back</button>
  <ProcessEditor />
{:else}
  <p>Nothing</p>
{/if}
