<script>
  import { deployment, engine } from "../../api";

  import { onMount } from "svelte";
import LoadingSpinner from "./LoadingSpinner.svelte";

  let open = false;

  const enableEngineSelection = false;

  export let process;

  let engines = [
    {
      id: "9031880b-02b9-44a0-b2cd-5cbb18080c7b",
      address: "192.1.1.1",
      name: "Production",
      hostname: "raspberry",
      description: "",
      alias: "alice-toaster"
    },
    {
      id: "9031880b-02b9-44a0-b2cd-5cbb18080c7b",
      address: "192.1.1.2",
      name: "Development",
      hostname: "raspberry",
      description: "",
      alias: "alice-toaster"
    }
  ];

  let selectedEngine;

  let deployed = false;


  onMount(async () => {
    if (enableEngineSelection) {
      engines = await engine.list();
      selectedEngine = engines[0];
    }
  })


  async function deploy() {
    if (!deployed) {
      deployed = true;
      await deployment.deploy(process, selectedEngine);
    }
  }
</script>

{#if deployed}
<div class="flex items-center gap-2">
  <span class="font-mono text-xs">
    Process is running...
  </span>
  <LoadingSpinner />
</div>
{/if}
<!-- This example requires Tailwind CSS v2.0+ -->
<div>
  <label id="listbox-label" class="sr-only"> Deploy the process </label>
  <div class="relative">
    <div class="inline-flex shadow-sm rounded-md divide-x divide-indigo-700 cursor-pointer">
      <div class="relative z-0 inline-flex shadow-sm rounded-md divide-x divide-indigo-700">
        <div on:click={deploy} class={`relative inline-flex items-center ${!deployed ? 'bg-indigo-600 hover:bg-indigo-800' : 'bg-gray-500 cursor-default'} py-2 pl-3 pr-4 border border-transparent rounded-l-md ${enableEngineSelection ? '' : 'rounded-r-md'} shadow-sm text-white`}>
          
          <p class="text-sm font-medium">Run</p>
        
          <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
          </svg> -->
        </div>

        {#if enableEngineSelection}
        <button on:click={() => { open = !open }} type="button" class="relative inline-flex items-center bg-indigo-600 p-2 rounded-l-none rounded-r-md text-sm font-medium text-white hover:bg-indigo-800 focus:outline-none focus:z-10 focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-600" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
          <span class="sr-only">Select engine</span>
          <!-- Heroicon name: solid/chevron-down -->
          <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
        {/if}
      </div>
    </div>

    <!--
      Select popover, show/hide based on select state.

      Entering: ""
        From: ""
        To: ""
      Leaving: "transition ease-in duration-100"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <ul class={`transition ease-in duration-100 ${open ? 'opacity-100' : 'opacity-0'} origin-top-right absolute z-10 right-0 mt-2 w-72 rounded-md shadow-lg overflow-hidden bg-white divide-y divide-gray-200 ring-1 ring-black ring-opacity-5 focus:outline-none`} tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-0">
      <!--
        Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

        Highlighted: "text-white bg-indigo-500", Not Highlighted: "text-gray-900"
      -->
      {#each engines as engine}
      <li on:click={() => selectedEngine = engine} class="text-gray-900 cursor-pointer select-none relative p-4 text-sm group hover:text-white hover:bg-indigo-500" id="listbox-option-0" role="option">
        <div class="flex flex-col">
          <div class="flex justify-between">
            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
            <p class="font-normal">{engine.name}</p>
            <!--
              Checkmark, only display for selected option.

              Highlighted: "text-white", Not Highlighted: "text-indigo-500"
            -->
            {#if engine === selectedEngine}
            <span class="text-indigo-600 group-hover:text-white">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
            </span>
            {/if}
          </div>
          <!-- Highlighted: "text-indigo-200", Not Highlighted: "text-gray-500" -->
          <pre class="group-hover:text-white text-gray-500 mt-2">
{engine.hostname} - {engine.address}
Alias: {engine.alias}
          </pre>
        </div>
      </li>
      {/each}

      <!-- More items... -->
    </ul>
  </div>
</div>
