<script>
  import { current_process, current_state } from "../../router";

  import { onMount } from "svelte/internal";

  import { process } from "../../api";
import { writable } from "svelte/store";

  let processes = writable([]);

  onMount(async () => {
    $processes = await process.list();
  });

  async function createProcess() {
    const newProcess = await process.create("Unbekannt", "HR");
    console.log(newProcess);

    $processes = [newProcess, ...$processes];
  }

  async function openProcess(id) {
    $current_process = id;
    $current_state = "create";
  }
</script>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Processes</h1>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <button
        on:click={createProcess}
        type="button"
        class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
        >Create a new process</button
      >
    </div>
  </div>
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div
          class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                  >ID</th
                >
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >Name</th
                >
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >Department</th
                >
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              {#each $processes as { _id, name, department }}
                <tr>
                  <td
                    class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                    >{_id}</td
                  >
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                    >{name}</td
                  >
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                    >{department}</td
                  >
                  <td
                    class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
                  >
                    <button on:click={() => { openProcess(_id) }}
                      >Edit<span class="sr-only">, {name}</span></button
                    >
                  </td>
                </tr>
              {/each}

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
